body {

}

h1 {
  font-family: monospace;
  font-size: 55px;
}

h2 {
  font-family: sans-serif;
  font-size: 35px;
  color: navy;
}

h3 {
  font-family: cursive;
  font-size: 24px;
  color: navy;
}

p {
  font-family: sans-serif;
  font-size: 14px;
}

li {
  font-family: sans-serif;
  font-size: 14px;
}

li.ordered {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: line-through;
}

ul {
  list-style: circle;
}

a {
  color: navy;
  text-decoration: none;
  font-weight: bolder;
}
